
a.link{
    cursor: pointer;
}

.profileBox {
    border: gold 2px solid;
    border-radius: 25px 25px 0px 0px; 
    width: 168px;
    height: 208px;
}

#up {
    height: 40;
    background-color: #ebebe0;
    border-radius: 25px 25px 0px 0px; 
    text-align: -webkit-center;
    padding-top: 6px;
}

#middle {
    position: relative;
}

#middle img {
    padding: 19px;
}

.selected {
    box-shadow:0px 12px 22px 1px #333;
    border:solid 2px gold;
}

