<div id="bgColor" class=" form-group top-buffer">
  <label class="col-sm-2 control-label">Позадина:</label>
  <div class="col-sm-10">
    <div class="radio">
      <label class="h4">
        <input #inColor name="bgColorOption" type="radio" value="0" checked="checked" (click)="selectBackgroundColor(inColor.value)"
        />Во боја
      </label>
    </div>
    <div class="radio">
      <label class="h4">
        <input #blackWhite name="bgColorOption" type="radio" value="1" (click)="selectBackgroundColor(blackWhite.value)" />Црно-бела
      </label>
    </div>
  </div>
</div>

<div id="pointer" class="form-group top-buffer">
  <label class="col-sm-2 control-label">Покажувач:</label>

  <!--<div class="col-sm-1">
      <h4>Големина</h4>
    </div>-->
  <div class="col-sm-10">
    <div *ngFor="#img of allImages; #i=index" class="col-sm-4 col-md-3 col-lg-2 top-buffer">
      <img id="pointer-size-{{i}}" src="{{img}}" class="img-circle" [class.selected]="shouldApplySelectedPointerSizeCss(i)" (click)="selectPointerSize(i)"
      />
    </div>
  </div>

  <!--<h4>Боја</h4>-->
  <div class="col-sm-10 col-sm-offset-2">
    <div *ngFor="#color of availablePointerColors" class="col-sm-4 col-md-3 col-lg-2 top-buffer">
      <div id="pointer-color-{{color}}" class="pointer-color-{{color}} color-box img-circle" [class.selected]="shouldApplySelectedPointerColorCss(color)"
      (click)="selectPointerColor(color)"></div>
    </div>
  </div>
</div>
