<div class="row">
  <div id="pointer" class="col-sm-8 form-group">

    <div class="row">
      <label class="text-center">Покажувач</label>
    </div>

    <div class="row top-buffer">
      <div class="col-sm-6">
        <div *ngFor="#color of availablePointerColors">
          <div id="{{color}}" class="pointer-color-{{color}} color-box thumbnail"
          [class.selected]="shouldApplySelectedColorCss(color)"
          (click)="selectPointerColor(color)"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div *ngFor="#img of allImages; #i=index">
        <label *ngIf="i===0">Мал</label>
        <label *ngIf="i===1">Голем</label>
        <img src="{{img}}" class="color-box thumbnail"
          [class.selected]="shouldApplySelectedPointerSizeCss(img)"
          (click)="selectPointerSize(img)"/>
      </div>
    </div>
  </div>

  <div id="bgColor" class="col-sm-4 form-group">
    <div class="row">
      <label class="text-center">Позадина</label>
    </div>
    <div class="row top-buffer">
      <label>
        <input #inColor name="bgColorOption" type="radio" value="0" checked="checked" (click)="selectBackgroundColor(inColor.value)"
        />Во боја
      </label>
      <label>
        <input #blackWhite name="bgColorOption" type="radio" value="1" (click)="selectBackgroundColor(blackWhite.value)"
        />Црно-бела
      </label>
    </div>
  </div>
</div>
{{userSettings.backgroundColor | json}}
{{userSettings | json}}

