img{
    height: 128px;
    width: 128px;
}

a.link{
    cursor: pointer;
}

.profileBox {
    border: gold 2px solid;
    border-radius: 25px 25px 0px 0px;
    width: 132px;
}

.profileBox > .title {
    height: 30;
    background-color: #ebebe0;
    border-radius: 25px 25px 0px 0px;
}

.selected {
    box-shadow:0px 12px 22px 1px #333;
    border:solid 2px gold !important;
}

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-buffer {
  margin-top:20px;
}

.left-buffer{
  margin-left:20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.color-box{
  height: 128px;
  width: 128px;
  border: 1px #cccccc solid;
}

.pointer-color-0{
  background-color:white;
}

.pointer-color-1{
  background-color:yellow;
}

.pointer-color-2{
  background-color:green;
}

.pointer-color-3{
  background-color:blue;
}

.pointer-color-4{
  background-color:red;
}
