<div class="form-horizontal">
  <div class="container-fluid">

    <div class="col-md-2 col-sm-4">
      <div class="form-group">
        <label class="col-sm-4 control-label">Вашиот профил:</label>
        <div class="col-sm-8">
          <div class="profileBox">
            <div class="title text-center">
              <label>{{vm.name}}</label>
            </div>
            <div><img src="{{vm.profileImg}}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-sm-8">
      <form [ngFormModel]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="col-sm-2 control-label">Корисничко име</label>
          <div class="col-sm-10">
            <input type="text" ngControl="name" id="username" class="form-control" placeholder="Корисничко име" [(ngModel)]='vm.name'
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Слика</label>
          <div class="col-sm-10">
            <div class="col-sm-4 col-md-3 col-lg-2 top-buffer" *ngFor="#img of allImages">
              <div class="col-sm-10">
                <img src="{{img}}" class="img-circle" (click)="onSelect(img)" [class.selected]="img === vm.profileImg" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <settings [userSettings]="vm.userSettings"></settings>
        </div>

        <div class="form-group">
          <div class="col-sm-1 col-sm-offset-2">
            <button type="submit" id="createNewUser" class="btn btn-primary" [disabled]="!registerForm.valid">Креирај</button>
          </div>
          <div class="col-sm-4">
            <a class="btn btn-default" id="backToLogin" [routerLink]="['/Login']">Назад</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
