
<div class="registerView" onload="getAvailableImages()">
    <h1>Креирај нов профил</h1>  
    Внеси корисничко име:
    <form #user="ngForm" (ngSubmit)="addUser(user.value)">
    <input type="text" name="userName" ngControl="name" (keyup)="0" required><br/>
    <p>Одбери слика: </p>
    <ul id="pics">
    <li *ngFor="#path of allImages" (click)="onSelect(path)" [class.selected]="path === selectedPath" ><img  src="{{path.path}}"></li>
    </ul>
    <br/>
    <br/>
    <div *ngIf="selectedPath">
        <label>Вашиот профил:</label>
        <div class="profileBox">
        <div id="up"><label>{{user.value.name}}</label></div>
        <div id="middle"><img src="{{selectedPath.profileImg}}"></div> 
                 
        </div>
        <div class="create">
            <button type="submit" class="btn btn-primary btn-lg">Креирај</button></div>
        </div> 
    
    </form>   
</div>